{% extends "base.html" %}
{% block title %}Contact{% endblock title %}

{% load static %}
{% block body %}
<section class="h-100 gradient-form" style="background-color:dodgerblue">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    
                    <h2 class="mt-1 mb-5 pb-1" style="text-align: center;">Contact Us</h2>
                    <p class="mt-1 mb-5 pb-1" style="text-align: center;">www.betterhome.com</p>
                    <p class="mt-1 mb-5 pb-1" style="text-align: center;">betterhome123@gmail.com</p>
                    <p class="mb-3 me-2 pb-1" style="text-align: center;">phone:9562591574</p>
                  </div>
{% endblock body %}
